---
import '../styles/global.css';
import Header from '../components/layout/Header';
import Footer from '../components/layout/Footer.astro';
import ScrollToTop from '../components/layout/ScrollToTop';

export interface Props {
  title?: string;
  description?: string;
}

const { title = 'CrypGo', description = 'Fast and Secure Cryptocurrency Exchange' } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
    <style>
      body {
        font-family: 'DM Sans', sans-serif;
      }
    </style>
  </head>
  <body class="bg-background text-foreground">
    <Header client:load />
    <slot />
    <Footer />
    <ScrollToTop client:load />
  </body>
</html>
