---
---
<section class="md:pt-44 sm:pt-24 pt-12 relative z-[1]">
  <div class="container px-4">
    <div class="bg-white/5 px-16 py-14 rounded-3xl border-2 border-white/10 grid grid-cols-12 items-center overflow-hidden relative">
      <div class="absolute inset-0 opacity-10 bg-[url('/images/work/bg-start.svg')] bg-no-repeat bg-right-bottom -z-[1]"></div>
      <div class="lg:col-span-8 col-span-12">
        <h2 class="text-white sm:text-[40px] text-3xl mb-6">
          Crypgo powered by Shadcn Nextjs
        </h2>
        <p class="text-white/60 text-lg">
          Our landing page empower shadcn developers to have free, safer and
          more trustworthy experiences
        </p>
      </div>
      <div class="lg:col-span-4 col-span-12">
        <div class="flex lg:justify-end lg:mt-0 mt-7 justify-center">
          <a
            href="https://www.shadcnspace.com/templates/"
            target="_blank"
            rel="noopener noreferrer"
            class="flex items-center gap-2.5 text-background bg-primary hover:bg-primary/80 border border-primary py-4 px-5 rounded-lg text-lg font-medium transition-colors"
          >
            Get template
            <img src="/images/icons/icon-arrow.svg" alt="icon" width="20" height="20" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
